# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda envs
Mac_env/
Win_env/
Mac_env 4/

# PyTorch models
models/

# datasets
data/

# Jupyter
.ipynb_checkpoints/


.DS_Store

.vscode

.conda

python/sandbox/

.venv/